*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}
html,body{
	height:100%;
}
.clear{
	clear: both;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 90px;
	display: inline-block;
}
.img-logo{
	margin-top: 20px;
	margin-left: 2%;
	width: 150px;
	height: 50px;
	background-image: url('../imagens/logo-danki.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.banner{
	display: inline-block;
	width: 100%;
	height: 650px;
	background-image: url('../imagens/capa.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
nav .not ul{
	font-size: 20px;
	margin-top: -25px;
	float: right;
	font-weight: normal;
	list-style-type: none;
}
nav .not li{
	padding: 0 10px;
	display: inline-block;
}
nav .not li a{
	color: #b4b4b4;
	text-decoration: none;
}
nav.mobile{
	cursor: pointer;
	display: none;
	float: right;
	margin-right: 15px;
	margin-top: -20px;
	width: 32px;
	height: 32px;
	background-image: url('../imagens/menu.svg');
	background-size: 100% 100%;
}
nav.mobile ul{
	display: none;
	background-color:white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 90px;
	list-style-type: none;
	text-align: center;
}
nav.mobile ul li{
	padding:8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}
nav.mobile ul li:hover{
	background-color: rgb(230,230,230);
}
nav.mobile ul li a{
	color: black;
	text-decoration: none;
}
.apresentacao{
	max-width: 600px;
	float: right;
	color: white;
    margin: 200px 150px;
}
.apresentacao h2{
	font-size: 30px;
}
section.chamada{
	margin-top: -5px;
	width: 100%;
	height: 370px;
	color: white;
	background-color:#170f1c;
}
.text-chamada{
	display: inline-block;
	width: 500px;
	margin-left: 10%;
	margin-top: 70px;
}
.text-chamada h2{
	margin-top:8px;
	text-align: center;
}
.text-chamada ul{
	list-style-position: inside;
	padding: 30px;
}
.text-chamada ul li{
	margin-top: 13px;
}
.entre-contato{
	cursor: pointer;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin-left: 25px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #FF703D;
	border-radius: 20px;
}
.img-chamada{
	float: right;
	width: 40%;
	height: 390px;
	margin-top: -20px;
	margin-right: 10%;
	z-index: 2;
	background-image: url('../imagens/device.png');
	background-position:center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.desenvolvendo{
	width: 100%;
	height: 180px;
	color:white;
	
	display: inline-block;
}
.des-text{
	margin:25px auto;
	text-align: center;
	width: 100%;
	max-width: 900px;
}
.des-text h2{
	color:#340054 ;
}
.des-text p{
	color: black;
	margin-top: 35px;
	padding: 0 2%;
}
.des-text img{
	padding: 0 2%;
	width: 100%;
	max-width: 1000px;
	position: relative;
	top: 70px;
	margin-top: 10px;
}
.info{
	width: 100%;
	height: 350px;
}
.text-autor{
	width: 50%;
	height: 350px;
	background-color:#170f1c;
	color: white;
	display: inline-block;
}
.text-autor .time{
	max-width: 600px;
	float: right;
	padding: 20% 30px;
}
.time h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}
.time p{
	font-size: 15px;
	line-height: 35px;
	margin-top:10px;
}
.text-autor2{
	width: 50%;
	height: 350px;
	float: right;
	padding:140px 0 103px 0 
}
.autor{
	float: left;
    max-width: 600px;
    padding-left: 30px;
}
.titulo-autor img{
	float: left;
	width: 40px;
	height: 40px;
	font-size: cover;
	border-radius: 20px;
	background-color: transparent;
	margin-right: 15px;
}
.autor h4{
	color: #232323;
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
}
.autor p{
	margin-top: 10px;
}
.slid span{
	height: 16px;
	width: 16px;
	margin: 9px 4px;
	cursor: pointer;
	float: left;
	background-color: rgb(200,200,200);
	border-radius: 8px;
}
section.formulario{
	width: 100%;
	background-color:#340054;
}
.form{
	float: left;
	width: 50%;
	padding:9% 2%;
}
.text-form{
	margin-bottom: 22px;
	color:white;
}
.text-form p{
	font-size: 15px;
    font-weight: 300;
    max-width: 400px;
	padding-right: 10px;
}
form{
	height: 100%;
	width: 400px;
}
form input[type=text]{
	width:107%;
	padding-left: 10px;
	height: 60px;
	line-height: 45px;
	border:1px solid #ccc;	
	margin-top:8px;
	border-radius: 8px;
}
form input[type=email]{
	width:107%;
	padding-left: 10px;
	height: 60px;
	line-height: 45px;
	border:1px solid #ccc;	
	margin-top: 8px;
	border-radius: 8px;
}
form textarea{
	width:107%;
	max-width: 430px;
	padding-left: 10px;
	height: 130px;
	line-height: 45px;
	border:1px solid #ccc;	
	margin-top: 8px;
	border-radius: 8px;
}
form input[type=submit]{
	width: 165px;
	height: 44px;
	background-color: #FF703D;
	font-size:13px ;
	color: white;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	margin-top: 30px;
	border-radius: 30px;
	border: 0;
}
.google-map{
	float: right;
	width: 50%;
	color: white;
	padding:8% 2%;
}
.google-map h2{
	font-size: 23px;
	font-weight: 300;
}
.google-map3{
	margin-top:10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}
.google-map2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	padding-top:100%;
}
.map{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	border:5px solid rgb(200,200,200);
}
footer{
	width: 100%;
	height: 80px;
	color: white;
	background-color: #170f1c;
}
.direitos{
	float: left;
	margin-top: 18px;
	cursor: pointer;
}
.contato{
	float: right;
	margin-top: 18px;
	cursor: pointer;
}
@media screen and (max-width:1268px){
	section.chamada{
		display: inline-block;
		height: auto;
	}
	.text-chamada{
		display: block;
		margin:30px auto;
		padding: 0 2%;
		width: 470px;
	}
	.img-chamada{
		display: none;
	}
}
@media screen and (max-width:900px){
	.form{
		float: none;
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	.text-form{
		margin: 0 auto;
	}
	.text-form p{
		text-align: center;
		display: inline-block;
	}
	form{
		margin: 0 auto;
	}
	.google-map{
		display: none;
	}
}
@media screen and (max-width:760px){
	nav .not{
		display:none;
	}
	nav.mobile{
		display:block;
		
	}
	nav.mobile ul{
		display: block;
	}
	.banner{
		display: inline-block;
		width: 100%;
	}
	.apresentacao{
		text-align: justify;
		margin: 230px auto;	
		color: white;
		padding: 5%;
	}
	.text-autor{
		width: 100%;
		height: 350px;
	}
	.text-autor .time{
		max-width: 600px;
		float: none;
		padding: 20% 30px;
	}
	.text-autor2{
		width: 100%;
		height: 350px;
		float: none;
	}
	.autor{
		float: none;
		max-width: 600px;
		padding:20% 30px;
		margin-top: -20px;
	}
	footer{
		display: inline-block;
		margin: auto;
	}
}
@media screen and (max-width:560px){
	.direitos{
		float: none;
		text-align: center;
	}
	.contato{
		display: none;
	}
	
}