*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IBM Plex Serif', serif;
}
html,body{
	height: 100%;
}
.clear{
	clear: both;
}
.center{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
}
section.inicio{
	padding: 15px 0;
	width: 100%;
	min-height: 800px;
	position: relative;
	background-image: url('../midia/bg1.jpg');
	background-size: cover;
	background-position: center;
}
.layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}
section.inicio header{
	z-index: 2;
	position: relative;
	padding-bottom: 10px;
	border-bottom:1px solid white ;
}
.logo{
	color: white;
	font-size: 24px;
	margin-top: 40px;
	margin-right: 5px;
	float: left;
	font-weight: normal;
	list-style-type: none;
}
nav .not ul{
	font-size: 19px;
	margin-top: 40px;
	margin-right: 5px;
	float: right;
	font-weight: normal;
	list-style-type: none;
}
nav .not li{
	padding: 0 10px;
	display: inline-block;
}
nav .not li a{
	color: white;
	text-decoration: none;
}
nav .mobile{
	cursor: pointer;
	display: none;
	float: right;
	margin-right: 25px;
	margin-top: 20px;
	width: 32px;
	height: 32px;
	background-image: url('../midia/menu-mobile.png');
	background-size: 100% 100%;
}
nav .mobile ul{
	display: none;
	background-color:white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}
nav .mobile ul li{
	z-index: 2;
	padding:8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}
nav .mobile ul li:hover{
	background-color: rgb(230,230,230);
}
nav .mobile ul li a{
	color: black;
	text-decoration: none;
}
.conteudo-header{
	position: relative;
	z-index: 1;
	max-width: 700px;
	margin: 110px 0;
}
.conteudo-header h2{
	color: white;
	font-weight: lighter;
	font-size: 44px;
}
.conteudo-header h2 span{
	color: #2692FF;
}
.conteudo-header p{
	color: white;
	padding: 10px 0;
}
.conteudo-header a{
	display: block;
	text-decoration: none;
	text-align: center;
	width: 177px;
	height: 44px;
	line-height: 44px;
	color: white;
	margin-top: 18px;
	border-radius: 20px;
	font-size: 15px;
	background-color: #2692FF;
}
section.plano{
	padding: 40px 0;
	width: 100%;
}
.chamada{
	width:100%;
	height: 80px;
	background-color: #ccc;
	text-align: center;
}
.linha{
	margin-top: 20px;
	border-top: 2px solid #2692FF;
	display: inline-block;
}
.linha h2{
	color: #2692FF;
}
.container{
	margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
	display: flex;
	flex-wrap: nowrap;
}
.box-planos-single{
	width: 33.3%;
	padding: 50px 30px;
}
.box-planos-single h2{
	color: white;
	font-weight:lighter;
	padding: 3px;
	width: 100%;
	background-color: #2692FF;
	text-align: center;
}
.box-planos-wrapper{
	width: 100%;
	border: 2px solid #777;
	-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
	min-height: 300px;
}
.pontos-plano{
	padding: 20px;
}
.pontos-plano p{
	line-height: 30px;
}
.preco{
	margin-top: 10px;
	padding: 15px 0;
	text-align: center;
}
.preco p{
	padding: 0 20px;
	font-size: 24px;
	color: #777;
	background-color: transparent;
	display: inline-block;
	border-top:1px solid #777 ;
}
section.parallax{
	width: 100%;
	min-height: 300px;
	padding: 40px 0;
	position: relative;
	background-image: url('../midia/bg_parallax.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.overlay_parallax{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}
.container2{
	margin: 0 auto;
    padding: 0 2%;
    max-width: 960px;
	color: white;
	position: relative;
	z-index: 2;
}
.container2 p{
	padding: 10px 0;
}
.container2 h2{
	text-align: center;
}
section.the_and{
	padding: 30px 0;
}
section.the_and h2{
	position: relative;
	font-weight: lighter;
	color: #777;
	font-size: 24px;
}
section.the_and h2 .borda{
	width: 50px;
	height: 2px;
	background-color: #777;
	position: absolute;
	transition: 0.4s;
}
section h2:hover > .borda{width: 100px;}
.w50{
	float: left;
	width: 50%;
	padding: 0 20px;
	margin: 30px 0;
}
form{
	margin-top: 15px;
}
.contato input:not([type=submit]) {
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: 1px solid #ccc;
    display: block;
    padding-left: 8px;
    margin-top: 10px;
}
.contato textarea {
    font-size: 15px;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 10px;
    resize: vertical;
}
.contato input[type=submit]{
	display: block;
	text-decoration: none;
	text-align: center;
	width: 177px;
	height: 44px;
	line-height: 44px;
	color: white;
	margin-top: 18px;
	border-radius: 20px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	background-color: #2692FF;
}
.time > .w50{
	width: 48%;
    margin: 15px 1%;
}
.equipe_single{
	padding: 10px 8px;
    border: 1px solid #ccc;
    min-height: 240px;
    padding-bottom: 30px;
    -webkit-box-shadow: 10px 9px 5px -8px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 5px -8px rgb(0 0 0 / 75%);
}
.box-usuario{
	padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
	text-align: center;
}
.box-avatar{
	display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    vertical-align: middle;
}
.info-ususario{
	display: inline-block;
    color: #777;
    padding-left: 8px;
    vertical-align: middle;
}
.descicao-usuario{
	color: #999999;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 10px;
}
footer{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	padding: 10px 0;
	color: white;
}
@media screen and (max-width: 780px){
	nav .not{
		display:none;
	}
	nav .mobile{
		display: block;
	}
	.container{
		display: block;
	}
	.box-planos-single{
		width: 100%;
		padding: 50px 30px;
	}
	.w50{
		width: 100%;
	}
}
@media screen and (max-width: 560px){
	.w50{
		float: none;
		width: 100%;
	}
	.time > .w50{
		width: 100%;
		margin: 15px 1%;
	}
}
